.container
{
    display: -webkit-flex;
    display:         flex;

    height: 100vh;

    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.color-clock > h1:first-child
{
    position: relative;
}

.color-clock > div:nth-child(2n)
{
    display: -webkit-flex;
    display:         flex;

    width: 425px;
    height: 425px;

    border-radius: 50%;
    background-color: #39b4cc;
    /*background-image: linear-gradient(91deg, transparent 50%, #a2ecfb 50%),
    linear-gradient(90deg, #a2ecfb 50%, transparent 50%);*/

    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.color-clock > div:nth-child(2n) > div
{
    display: -webkit-flex;
    display:         flex;

    width: 400px;
    height: 400px;

    color: #fff;
    border-radius: 50%;
    /*background-color: red;*/

    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.color-clock > h1:first-child > span
{
    position: absolute;
}

.color-clock > h1:first-child > span:nth-of-type(1)
{top: -9.27px;left: 293.64px;

    width: 11px; height: 24px; -webkit-transform: rotate(.36rad);
    -moz-transform: rotate(.36rad);-ms-transform: rotate(.36rad); -o-transform: rotate(.36rad);transform: rotate(.36rad);
}

.color-clock > h1:first-child > span:nth-of-type(2)
{top: -1.24px;left: 307.95px;

    width: 19px; height: 24px; -webkit-transform: rotate(.45rad);
    -moz-transform: rotate(.45rad);-ms-transform: rotate(.45rad); -o-transform: rotate(.45rad);transform: rotate(.45rad);
}

.color-clock > h1:first-child > span:nth-of-type(3)
{top: 10.01px;left: 329px;

    width: 17px; height: 24px; -webkit-transform: rotate(.56rad);
    -moz-transform: rotate(.56rad);-ms-transform: rotate(.56rad); -o-transform: rotate(.56rad);transform: rotate(.56rad);
}

.color-clock > h1:first-child > span:nth-of-type(4)
{top: 20.53px;left: 347.71px;

    width: 10px; height: 24px; -webkit-transform: rotate(.64rad);
    -moz-transform: rotate(.64rad);-ms-transform: rotate(.64rad); -o-transform: rotate(.64rad);transform: rotate(.64rad);
}

.color-clock > h1:first-child > span:nth-of-type(5)
{top: 32.3px;left: 358.48px;

    width: 17px; height: 24px; -webkit-transform: rotate(.73rad);
    -moz-transform: rotate(.73rad);-ms-transform: rotate(.73rad); -o-transform: rotate(.73rad);transform: rotate(.73rad);
}

.color-clock > h1:first-child > span:nth-of-type(6)
{top: 48.53px;left: 373.76px;

    width: 19px; height: 24px; -webkit-transform: rotate(.83rad);
    -moz-transform: rotate(.83rad);-ms-transform: rotate(.83rad); -o-transform: rotate(.83rad);transform: rotate(.83rad);
}

.color-clock > h1:first-child > span:nth-of-type(7)
{top: 63.96px;left: 390.47px;

    width: 11px; height: 24px; -webkit-transform: rotate(.92rad);
    -moz-transform: rotate(.92rad);-ms-transform: rotate(.92rad); -o-transform: rotate(.92rad);transform: rotate(.92rad);
}

.color-clock > h1:first-child > span:nth-of-type(8)
{top: 80.48px;left: 397.73px;

    width: 19px; height: 24px; -webkit-transform: rotate(1.01rad);
    -moz-transform: rotate(1.01rad);-ms-transform: rotate(1.01rad); -o-transform: rotate(1.01rad);transform: rotate(1.01rad);
}

.color-clock > h1:first-child > span:nth-of-type(9)
{top: 98.86px;left: 410.89px;

    width: 13px; height: 24px; -webkit-transform: rotate(1.11rad);
    -moz-transform: rotate(1.11rad);-ms-transform: rotate(1.11rad); -o-transform: rotate(1.11rad);transform: rotate(1.11rad);
}

.color-clock > h1:first-child > span:nth-of-type(10)
{top: 113.92px;left: 419.11px;

    width: 10px; height: 24px; -webkit-transform: rotate(1.18rad);
    -moz-transform: rotate(1.18rad);-ms-transform: rotate(1.18rad); -o-transform: rotate(1.18rad);transform: rotate(1.18rad);
}

.color-clock > h1:first-child > span:nth-of-type(11)
{top: 131.35px;left: 421.78px;

    width: 17px; height: 24px; -webkit-transform: rotate(1.27rad);
    -moz-transform: rotate(1.27rad);-ms-transform: rotate(1.27rad); -o-transform: rotate(1.27rad);transform: rotate(1.27rad);
}

.color-clock > h1:first-child > span:nth-of-type(12)
{top: 149.73px;left: 429.58px;

    width: 11px; height: 24px; -webkit-transform: rotate(1.35rad);
    -moz-transform: rotate(1.35rad);-ms-transform: rotate(1.35rad); -o-transform: rotate(1.35rad);transform: rotate(1.35rad);
}

.color-clock > h1:first-child > span:nth-of-type(13)
{top: 169.45px;left: 428.89px;

    width: 19px; height: 24px; -webkit-transform: rotate(1.44rad);
    -moz-transform: rotate(1.44rad);-ms-transform: rotate(1.44rad); -o-transform: rotate(1.44rad);transform: rotate(1.44rad);
}

.color-clock > h1:first-child > span:nth-of-type(14)
{top: 192.39px;left: 431.47px;

    width: 17px; height: 24px; -webkit-transform: rotate(1.55rad);
    -moz-transform: rotate(1.55rad);-ms-transform: rotate(1.55rad); -o-transform: rotate(1.55rad);transform: rotate(1.55rad);
}

.color-clock > h1:first-child > span:nth-of-type(15)
{top: 215.36px;left: 429.64px;

    width: 19px; height: 24px; -webkit-transform: rotate(1.65rad);
    -moz-transform: rotate(1.65rad);-ms-transform: rotate(1.65rad); -o-transform: rotate(1.65rad);transform: rotate(1.65rad);
}
